.MMM-NotificationDev {
    width: 100%;
    font-size: 14px;
}

.controls {
    margin-bottom: 5px;
}

.controls button {
    margin-right: 5px;
    padding: 3px 6px;
    background-color: #222;
    color: #0ff;
    border: 1px solid #0ff;
    cursor: pointer;
}

.controls input {
    padding: 3px 6px;
    width: 200px;
    background-color: #111;
    color: #fff;
    border: 1px solid #0ff;
}
